h1{
    color: red;
}
h2{
    color: black;
}
details{
    color: rgb(12, 215, 130);
   
}
summary{
    color: rgb(15, 52, 235);
    border:2px solid  ;
    height: 20px;
    width: 60px; ;
}
