
#section{
    background-color: aquamarine;
    height: 50%;
    width: 50%;
    align-items: center;
  
}

#home{
    text-transform: uppercase;
}
#login{
    background-color: rgb(234, 25, 168);
    text-align: center;
    border:solid 3px;
}
#username{
    text-align: center;
    /* color: rgb(204, 185, 200); */
    border: solid 2px;
    border-color: crimson;
 
}
#show{
 position: absolute;
 left: 25%;

}
.btn-btn{
    position: absolute;
    left:15%;

}